basePath: /
consumes:
- application/json
info:
  description: Documentation for Document API
  title: of Document API
  version: 1.0.0
paths:
  /image:
    post:
      description: |-
        Returns particular document field
        responses
        200: docStrRepoResp
        Returns values from document
      operationId: Image
produces:
- application/json
responses:
  docStrRepoResp:
    description: A list of document values returns in the response
    headers:
      amount_of:
        type: string
      data_num:
        type: string
      full_price:
        type: string
      payer:
        type: string
      prod:
        type: string
      producer:
        type: string
      requis:
        type: string
      signed:
        type: string
      sum_n_tax:
        type: string
schemes:
- http
swagger: "2.0"
